body
{
	background-color: green;
}


.main
{
	width: 50%;
	/*background-color: red;*/
	min-height: 300px;
	margin: auto;
	margin-top: 10%;
	border-radius: 5px;

}

div.main div.gauche
{
	float: left;
	width: 50%;
	min-height: 400px;
	background-color: #fff;
	border-radius: 2px;
	
}

div.main div.droit
{
	margin-left: 50%;
	width: 50%;
	min-height: 400px;
	background-color: red;
	border-radius: 2px;
	transform: scaleY(.9);
	
}